# Node
**/node_modules/
**/dist/
package-lock.json

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# Mac
.DS_Store

# Docker
*.log
